.h-80 {
    min-height: 500px;
    width: 100%;
    padding: 2%;
    height: auto;
    background: #F8FFFE;
    box-shadow: 0px 5px 5px 0px #00000040;
}

.title-bar{
    background: linear-gradient(90deg, #5E1B89 0%, #F4512C 100%);
    width: 100%;
    display: flex;
    padding: 2px;
    text-align: center;
    podding: auto;
    justify-content: center;
    color: #F8FFFE;
    margin-bottom: 2%;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.title-bar h3{
    font-size: 1.4rem; 
    text-align: center;
    margin: auto;
    font-weight: bold ;
    font-family: Lato, serif;
}


.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.img {
    margin-right: 10px;
}

.btn.custom-btn {
    white-space: nowrap; 
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    width: 20%;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.btn:hover {
    color: #5E1B89;
    background-color: #FF9B74 !important;
    box-shadow: 0px 8px 8px 0px #00000040;
}

.btn {
    color: #5E1B89;
    background: #E2DAD6;
    border: 0;
}

@media (max-width: 769px) {
    .btn-container {
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
    }
    .btn.custom-btn {
        width: 100%;
    }

}
