.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  color: #F8FFFE !important;
  background-color: #333333;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  padding: 0 10%;
  align-items: center;
  height: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #FF7F4D;
  transition: color 0.3s ease;
}

.nav-logo span {
  color: #F8FFFE;
}

.nav-logo:hover {
  color: #F8FFFE;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  background-color: #F8FFFE;
  top: 60px;
  right: -80%;
  width: 80%;
  height: 100%;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: right 0.3s ease;
}

.show-menu {
  right: 0;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav__item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.nav__icon {
  margin-right: 0.5rem;
  width: 1.7rem;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: #F8FFFE;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #FF7F4D;
  transition: width 0.3s ease;
}

.nav__link:hover::after,
.nav__link:focus::after {
  width: 100%;
}

.nav__link:hover,
.nav__link:focus {
  color: #F8FFFE;
  font-weight: bolder;
  transform: scale(1.1);
}

.nav__link:active {
  color: #F8FFFE;
}

.nav__link--active {
  color: #F8FFFE;
}

.nav__toggle {
  font-size: 1.5rem;
  color: #F8FFFE !important;
  cursor: pointer;
  z-index: 1000;
}

.nav__github {
  font-size: 1.5rem;
  color: #F8FFFE !important;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.nav__github svg {
  color: #F8FFFE !important;
}

.nav__toggle svg {
  color: #F8FFFE !important;
}

.user-mobile {
  display: none;
}

.nav__github:hover,
.nav__toggle:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #F8FFFE !important;
}

@media (max-width: 768px) {
  .nav__menu {
    display: flex;
    align-items: end;
  }

  .first-nav {
    padding-top: 10%;
  }

  .nav__toggle {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }

  .nav__github {
    margin-left: 0;
  }

  .nav__link {
    color: #333333;
  }

  .nav__link:hover,
.nav__link:focus {
  color: #333333;
  font-weight: bolder;
  transform: scale(1.1);
  animation: fadeIn 0.3s ease-in-out;
  left: 5%;
  right: 10%;
}

  .nav__link:active {
    color: #333333;
  }
  
  .nav__link--active {
    color: #333333;
  }

  .user-mobile {
    display: block;
  }
}

@media (min-width: 769px) {
  .nav__menu {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav__item {
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .nav__toggle {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
